.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}
.stars{

}
.cardword {
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 #ccc;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4);

}
.shadow:hover {
    box-shadow: -1px 5px 15px 0 rgba(0,0,0,.5);
}
.word{
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    background-color: #f1f1e7;
    font-family: "Book Antiqua";
    font-size: 20px;

}
.rotate {
    margin-top: 10px;
    margin-left: 190px;
    width: 30px;
    height: 30px;
    background-image: url(https://www.pngfind.com/pngs/m/50-503494_png-file-rotation-arrows-png-transparent-png.png);
    background-size: 32px;
}
/* весь контейнер поддерживает перспективу */
.flip-container {
    margin: 20px;
}

.flip-container, .front, .back {
    width: 320px;
    height: 250px;
}
/* скройте обратную сторону во время переворота */
.back {
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
    position: absolute;

}
/* лицевая сторона размещена над обратной */
.front {
    transition: 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    position: absolute;
}
